{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
    <h1>My Bookings</h1>

    {% if reservations %}
        <ul>
            {% for reservation in reservations %}
                <li>
                    <strong>Flight:</strong> {{ reservation.flight.airline.name }} - {{ reservation.flight.flight_number }} <br>
                    <strong>From:</strong> {{ reservation.flight.departure_city }} → {{ reservation.flight.destination_city }} <br>
                    <strong>Seat Number:</strong> {{ reservation.seat_number }} <br>
                    <strong>Booked At:</strong> {{ reservation.booked_at }} <br>
                    <a href="{% url 'cancel_booking' reservation.id %}">Cancel Booking</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no reservations yet.</p>
    {% endif %}
{% endblock %}
